.header-banner{
    height: 50px;
    background-color: #50717b;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    font-size: 20px;
    width: 100%;
}

.header-banner div{
    display: flex;
}

.header-banner .logo {
    flex: 1;
}

.header-banner .auth-btn{
    margin-right: 20px;
}

.header-banner .profile{
    align-self: center;
    /* cursor: pointer; */
}

