.header-banner{
    height: 50px;
    background-color: #50717b;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10px;
    font-size: 20px;
}

.header-banner div{
    display: flex;
}