@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.App {
  text-align: center;
  font-family: 'Itim', cursive;
}

.content {
  background-color: #d68438;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
  margin-top: 50px;
}

